* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: monospace;
  color: #1a3a3a;
}

img {
  border: solid 4px #a997df;
  border-radius: 6px;
}

.main {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background: #dccfec;
}

.main section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start start;
}

.main section h2 {
  font-size: 3rem;
  padding-top: 20px;
  padding-left: 20px;
}

#rapid-proto .img-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 80vh;
  max-height: 90%;
  max-width: 90%;
  margin: auto;
}

#rapid-proto .img-grid #all-gasket {
  margin: auto;
  grid-row: span 2;
}

#rapid-proto .img-grid #all-gasket figcaption {
  max-width: 90%;
  max-height: 90%;
}

#rapid-proto .img-grid figure {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

#rapid-proto .img-grid img {
  max-width: 90%;
  max-height: 90%;
}

#cast-mold .img-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 9fr;
      grid-template-columns: 4fr 9fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 90vw;
  height: 80vh;
  max-height: 90%;
  max-width: 90%;
  margin: auto;
}

#cast-mold .img-grid #cast {
  margin: auto;
  grid-row: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cast-mold .img-grid #cast figcaption {
  max-width: 90%;
  max-height: 90%;
}

#cast-mold .img-grid figure {
  max-width: 100%;
  max-height: 100%;
}

#cast-mold .img-grid img {
  max-width: 90%;
  max-height: 90%;
}

#heat-tool .img-flex figure {
  max-width: 30%;
}

#heat-tool .img-flex img {
  max-width: 100%;
  margin: auto;
}

#mechanics .img-flex figure {
  max-width: 45%;
  position: relative;
}

#mechanics .img-flex figure img {
  max-width: 100%;
  max-height: 100%;
}

#misc .img-flex figure {
  max-width: 45%;
  max-height: 90%;
  position: relative;
}

#misc .img-flex figure img {
  max-width: 100%;
  max-height: 100%;
}

.img-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80vh;
  max-height: 90%;
  max-width: 90%;
  margin: auto;
}
